<nav>
    <ul>
        <li>
            <a href="/catalog">Home</a>
        </li>
        <li>
            <a href="/catalog/items">Items</a>
        </li>
        <li>
            <a href="/catalog/categories">Categories</a>
        </li>
    </ul>
</nav>
