doctype html
html(lang='en')
    head
        title= title
        meta(charset='utf-8')
        meta(name='viewport', content='width=device-width, initial-scale=1')
        link(rel='stylesheet', href='/stylesheets/style.css')
body
    nav
        ul
            li
                a(href='/catalog') Home
            li
                a(href='/catalog/items') Items
            li
                a(href='/catalog/categories') Categories

    block content
    button(id='add-c')
        a(href='/catalog/category/create') Add Category
    button(id='add-i')
        a(href='/catalog/item/create') Add Item